
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Auto width for sidebar, remaining space for content */
    grid-template-rows: auto 1fr auto; /* Auto height for header and footer, remaining space for content */
    
  }
  
  .header {
    grid-column: 1 / span 2; /* Span both columns */
    background-color: lightblue;
  }
  
  .sidebar {
    grid-row: 1 / span 4; /* Span all rows */
    background-color: lightgray;
    width: 0; /* Initial width when closed */
    transition: width 0.3s ease; /* Add transition for smooth animation */
    overflow: hidden; /* Hide overflowing content */
  }
  
  .sidebar.open {
    width: 100px; /* Width when opened */
  }
  
  .content {
    background-color: lightgreen;
  }
  
  .footer {
    grid-column: 1 / span 2; /* Span both columns */
    background-color: lightyellow;
  }
  